__pycache__
db-data
docs
*.py[cod]
.env*
!.env.dist
import.py
data.json
DEPLOY.md

# Testing and coverage
.coverage
htmlcov/
.pytest_cache/

# Static and media files
staticfiles/
media/*
!media/.gitkeep
