services:
  django:
    build: .
    container_name: sisyphus_django
    command: /bin/bash
    env_file: .env.production
    links:
      - postgres:postgres
      - redis:redis
    ports:
      - 8000:8000
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ./:/usr/app
    working_dir: /usr/app
  postgres:
    image: postgres:17.6-bookworm
    container_name: sisyphus_postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    restart: unless-stopped
    volumes:
      - ./db-data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: sisyphus_redis
    ports:
      - 6379:6379
    restart: unless-stopped
  rq-worker:
    build: .
    container_name: sisyphus_rq_worker
    command: uv run manage.py rqworker --with-scheduler default
    env_file: .env
    environment:
      - DJANGO_ALLOW_ASYNC_UNSAFE=true
    links:
      - postgres:postgres
      - redis:redis
    restart: unless-stopped
    volumes:
      - ./:/usr/app
    working_dir: /usr/app
