{% extends 'base.html' %}
{% load ui_tags %}
{% block content %}
<div class="row justify-content-center gx-3 gy-3">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                {% if not job %}
                <h3>No jobs remaining</h3>
                {% else %}
                <div class="d-flex justify-content-between align-items-start">
                    <div>
                        <h6 class="card-title"><a href="{{ job.company.url }}" target="_blank">{{ job.company }}</a></h6>
                        <h5 class="card-title">{{ job.title }}</h5>
                    </div>
                    <div>
                        <a class="btn btn-primary" href="{{ job.url }}" target="_blank" role="button">{% if job.easy_apply %}Easy Apply{% else %}Apply{% endif %}</a>
                    </div>                    
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="btn-group w-100 my-2">
                        {% for action in actions %}
                        <button type="submit" class="btn btn-{{ action.btn }}" name="action" value="{{ action.value }}">{{ action.text }}</button>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="uuid" value="{{ job.uuid }}" />
                </form>
                <div>
                    {% if job.populated %}
                    {{ job.description|safe_like }}
                    {% endif %}
                </div>
                {% endif %}            
            </div>
        </div>
    </div>
</div>
{% endblock %}